<!-- only footer for ejs engine -->
<footer>
    <div class="container web01font text-uppercase">
         <div class="row">

              <div class="col-md-5 col-md-offset-1 col-sm-6">
                   <h3>„აპპოლო - წარმატების სივრცე“</h3>
                   <div class="footer-copyright">
                        <p>Copyright &copy; <span class="copyYears"></span> <br> Design: Tooplate, <br> back-end <a href="#">mikheil kuprava</a></p>
                   </div>
              </div>

              <div class="col-md-4 col-md-offset-1 col-sm-6">
                   <h3>კონტაქტი</h3>
                   <!-- <p><i class="fa fa-globe"></i> ლორემის 5ა</p> -->
                   <p><i class="fa fa-phone"></i> +995 592 86 12 12 (WhatsApp, viber)</p>
                   <p><i class="fa fa-envelope"></i>support@appolosuccess.ge</p>
              </div>

              <div class="clearfix col-md-12 col-sm-12">
                   <hr>
              </div>

              <div class="col-md-12 col-sm-12">
                   <ul class="social-icon">
                        <li><a href="https://www.facebook.com/appolosuccess" class="fa fa-facebook" target="_blank"></a></li>
                        <li><a href="https://www.instagram.com/appolo_career/" class="fa fa-instagram" target="_blank"></a></li>
                        <li><a href="https://www.linkedin.com/company/76344531/admin/" class="fa fa-linkedin" target="_blank"></a></li>
                   </ul>
               <p style="color:#fff">version: 1.0.1</p>
              </div>
              
         </div>
    </div>
</footer>
