
<!-- Home Section -->

<section id="home" class="main-home parallax-section">
     <div class="overlay"></div>
     <div id="particles-js"></div>
     <div class="container">
          <div class="row">

               <div class="col-md-12 col-sm-12 rioncontrast">
                    <h4>მოგესალმებით,</h4>
                    <h2>აპპოლო - წარმატების სივრცე</h2>
                    <a href="#blog" class="btn btn-default">მეტი</a>
               </div>

          </div>
     </div>
</section>

<!-- Blog Section -->

<section id="blog">
     <div class="container">
          <div class="row">
               <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <div class="blog-post-thumb">
                         <!-- <div class="blog-post-image">
                              <a href="single-post.html">
                                   <img src="https://images.unsplash.com/photo-1603350546952-3ddb8d5f29ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="img-responsive" alt="Blog Image">
                              </a>
                         </div> -->
                         <!-- <div class="blog-post-title web01font">
                              <h3>დაგეხმარები, რომ მიაღწიო წარმატებას კარიერაში</h3>
                         </div> -->
                         <!-- <div class="blog-post-format">
                              <span><a href="#"><img src="images/author-image1.jpg" class="img-responsive img-circle"> Jen Lopez</a></span>
                              <span><i class="fa fa-date"></i> July 22, 2017</span>
                              <span><a href="#"><i class="fa fa-comment-o"></i> 35 Comments</a></span>
                         </div> -->
                         <div class="blog-post-des ninomk" style="font-size: 20px;" >
                              <p>
                                   ჩვენ ვართ პროფესიონალების გუნდი, რომელიც 3 უმნიშვნელოვანესი
                                   მიმართულებით წარმატების მიღწევაში დაგეხმარებით: <br>

                                   <div class="accordion accordion-flush" id="accordionFlushExample" style="margin:-23px 0">
                                        <div class="accordion-item">
                                          <h2 class="accordion-header" id="flush-headingOne">
                                            <a style="font-size:20px ;" class="btn btn-default collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-1" aria-expanded="false" aria-controls="flush-collapseOne">
                                             წარმატებული კარიერა
                                            </a>
                                          </h2>
                                          <div id="flush-1" class="accordion-collapse collapse" aria-labelledby="flush-1" data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body"> 
                                             საქმიანი ცხოვრების მოწესრიგება, კონკრეტული სვლების
                                             შემუშავება, გავარჯიშება. დაგეხმარებით რომ მიაღწიოთ კარიერულ წარმატებას
                                             <div style="width: 11%;height: 3px;margin:0 auto;background:red;margin: 15px 0;"></div>
                                             <div>
                                                  <h3>ვრცლად</h3>
                                                  <p>
                                                       
                                                       კარიერის აკადემიური განმარტება არის: ჩვენი უნიკალური გამოცდილებისა და
                                                       სოციალური როლების კომბინაცია, რომელსაც ვიღებთ მთელი ცხოვრების
                                                       მანძილზე, რომელიც არის ინდივიდუალური, სცდება ორგანიზაციებისა და
                                                       პროფესიების ფარგლებს, მოიცავს სწავლას, მუშაობას და საკუთარი თავის
                                                       გამოხატვას.
                                                  </p>
                                                  <p>
                                                       კარიერაში წარმატება ფასდება არა იმდენად დაკავებული თანამდებობით ან
                                                       მიღებული ანაზღაურებით, არამედ პიროვნების უნარით, იყოს კმაყოფილი იმით,
                                                       რასაც აკეთებს და წვლილით რაც შეაქვს მის კარიერას, აზრიანი და
                                                       დაბალანსებული ცხოვრების შექმნაში.
                                                  </p>
                                                  
                                             </div>
                                             <ul>
                                                  <li><a href="#lovejobs">„საყვარელი საქმის“ განსაზღვრა</a></li>
                                                  <li><a href="#jobslook">სასურველი სამუშაოს მოძიება</a></li>
                                                  <li><a href="#plain">კარიერის დაგეგმვა</a></li>
                                                  <li><a href="#talkpreper">გასაუბრებისთვის მომზადება</a></li>
                                                  <li><a href="#writcv">CV და თანმხლები წერილის შედგენა</a></li>
                                                  <li><a href="#plain2">სწავლის სტრატეგიის, ტაქტიკის შემუშავება</a></li>
                                                 
                                             </ul>
                                             <div class="descrip">
                                                  <div id="lovejobs" class="dvv">
                                                       <p> 
                                                            პროფესიის არჩევა უნდა ხდებოდეს შემდეგი თანმიმდევრობით:
                                                            <ul class="descservi">
                                                                 <li>I ეტაპი: ვეცნობით საკუთარ თავს სპეციალური ინსტრუმენტებით – გავერკვეთ
                                                                      რა გვაინტერესებს, რისი კეთება მოგვწონს, რა ნიჭი გვაქვს, რა შედეგი გვინდა
                                                                      მივიღოთ ჩვენი ყოველდღიური საქმიანობით და რისგან გვინდა ვიყოთ შორს;
                                                                 </li>
                                                                 <li>
                                                                      II ეტაპი: ვაყალიბებთ დიდ მიზანს ( რა დიდი შედეგის მიღწევა გვინდა. ეს არ
                                                                      არის მხოლოდ ფინანსური შედეგი ), რომელიც შესაძლოა დაკორექტირდეს,
                                                                      თუმცა იშვიათად სჭირდება ცვლილება.
                                                                 </li>
                                                                 <li>
                                                                      III ეტაპი: შემდეგ ვარკვევთ ამ მიზნის მისაღწევად რა პროფესიები გამოგვადგება
                                                                      და რაზე მიგვიწვდება ხელი.
                                                                      რა პროფესიას დაეუფლოთ, რა მიმართულება შეისწავლოთ – სკოლის
                                                                      მოსწავლეებისთვის, სტუდენტებისთვის, სამუშაო გამოცდილების
                                                                      მქონეებისთვის / არ მქონეებისთვის 
                                                                 </li>
                                                            </ul>
                                                       </p>
                                                       <p>
                                                            ეს გჭირდებათ, თუ:

                                                            <ul>
                                                                 <li>
                                                                      თუ ხართ სკოლის  მოსწავლე ან სტუდენტი და ჯერ არ აგირჩევიათ 
                                                                      სწავლა გააგრძელოთ თუ არა; ან რომელ პროფესიულ
                                                                      მიმართულებას გაყვეთ.
                                                                 </li>
                                                                 <li>
                                                                      ვერ  იღებთ სიამოვნებას თქვენი სამუშაოსგან და გრძნობთ, რომ ეს
                                                                      არ არის ის, რისი კეთებაც მთელი გულით გსურთ.
                                                                 </li>
                                                                 <li>
                                                                      სურვილი გაქვთ იპოვნოთ საქმე, რომელსაც მთელი მონდომებით
                                                                      გააკეთებთ.
                                                                 </li>
                                                                 <li>
                                                                      გადაწყვიტეთ შეიცვალოთ  სამუშაო ადგილი ან საქმიანობის სფერო,
                                                                      მაგრამ გეშინიათ, რომ ეს რადიკალურად შეცვლის  ცხოვრების
                                                                      სტილს.
                                                                 </li>
                                                            </ul>
                                                       </p>
                                                       <p>
                                                            შედეგად მიიღებთ:
                                                            <ul>
                                                                 <li>
                                                                      თქვენი სამუშაო გამოცდილების, ცოდნის, კომპეტენციისა და უნარების
                                                                      ანალიზს.
                                                                 </li>
                                                                 <li>შიშებისა და შეხედულებების  დამუშავებას.</li>
                                                                 <li>ახალ სფეროში გადასვლის გეგმას.</li>
                                                                 <li>კარიერული ზრდის გეგმას.</li>
                                                                 <li> ზუსტ და ცხად ხედვას თუ რა მიმართულებით გნებავთ სწავლის,
                                                                      გამოცდილების მიღების, საქმიანობის გაგრძელება – რა მიმართულებაა
                                                                      თქვენი ცხოვრების მოცემულ ეტაპზე მისაღები და საჭირო და რა ნაბიჯები
                                                                      უნდა გადაიდგას წინსვლისთვის.
                                                                 </li>
                                                            </ul>
                                                       </p>
                                                       <div class="prices">
                                                            <ul>
                                                                 <li>საწყისი კონსულტაცია / საჭიროებების დადგენა – უფასო</li>
                                                                 <li>ერთი სამუშაო შეხვედრის ღირებულება 90 ₾</li>
                                                                 <li>შეხვედრების რაოდენობა შეთანხმება თქვენთან</li>
                                                            </ul>
                                                       </div>
                                                  </div>

                                                  <!-- JOBS LOOK-->
                                                  <div id="jobslook" class="dvv">
                                                       <p> 
                                                            თქვენი ღირებულებების, ძლიერი/სუსტი მხარეების და ჩვენი ინსტრუმენტების შეკავშირებით.
                                                            <ul>
                                                                 <li>
                                                                      ერთად გავარკვევთ ცხოვრების მიმდინარე ეტაპზე რა არის თქვენთვის
                                                                      საუკეთესო სამუშაო; ეს დამოკიდებულია  ფინანსურ, ფსიქოლოგიურ,
                                                                      ოჯახურ მგდომარეობასა და სხვა ფაქტორებზე.
                                                                 </li>
                                                                 <li>
                                                                      სასურველი სამუშაოს მიღების გეგმის შედგენა - რა ნაბიჯები უნდა
                                                                      გადადგათ.
                                                                 </li>
                                                                 <li>
                                                                      სასურველი სამუშაოსთვის საჭირო მოთხოვნების და თქვენი მონაცემების
                                                                      შესაბამისობაში მოყვანა.
                                                                 </li>
                                                            </ul>
                                                       </p>
                                                       
                                                       <p>
                                                            შედეგად მიიღებთ:
                                                            <ul>
                                                                 <li>
                                                                      კონკრეტული ორგანიზაციების ჩამონათვალს, რომელთან კონტაქტი
                                                                      გაზრდის თქვენი  დასაქმების შანს სასურველ პოზიციაზე.
                                                                 </li>
                                                                 <li>
                                                                      ჩამოყალიბებულ ხედვას თუ რომელი სამუშაოა თქვენთვის საუკეთესო
                                                                      ვარიანტი, ცხოვრების მოცემულ ეტაპზე.
                                                                 </li>
                                                                 <li>კონკრეტულ გეგმას თუ რა ნაბიჯები უნდა გადადგათ ამ სამუშაოს
                                                                      მისაღებად.
                                                                 </li>
                                                                 <li>საკუთარი ძლიერი და სუსტი მხარეების აუდიტს და მათი საუკეთესოდ
                                                                      წარმოჩენის გზას.
                                                                 </li>
                                                                 
                                                            </ul>
                                                       </p>
                                                       <div class="prices">
                                                            <ul>
                                                                 <li>საწყისი კონსულტაცია / საჭიროებების დადგენა – უფასო</li>
                                                                 <li>ერთი სამუშაო შეხვედრის ღირებულება 90 ₾</li>
                                                                 <li>შეხვედრების რაოდენობა შეთანხმება თქვენთან</li>
                                                            </ul>
                                                       </div>
                                                  </div>

                                                  <!--plain-->

                                                  <div id="plain" class="dvv">
                                                       <p> 
                                                            მომსახურებაში შედის:
                                                            <ul>
                                                                 <li>
                                                                      კარიერული გეგმის შემუშავება - ხელფასის გაზრდის, დაწინაურების, ახალ
                                                                      ორგანიზაციაში გადანაცვლების, განვითარების სასწავლო პროგრამების
                                                                      შერჩევა.
                                                                 </li>
                                                                 <li>
                                                                      სამსახურეობრივი კონფლიქტებთან მუშაობა.
                                                                 </li>
                                                                 <li>
                                                                      სამუშაო / ცხოვრების ბალანსი – ამ ორ მნიშვნელოვან სფეროს შორის
                                                                      ურთიერთკავშირის გაჯანსაღება. 
                                                                 </li>
                                                                 <li>
                                                                      თვითდაჯერებულობაზე მუშაობა.
                                                                 </li>
                                                                 <li>
                                                                      პერსონალური ბრენდის შექმნა – გაიცნოთ და საჭირო ფორმით
                                                                      წარმოაჩინოთ საკუთარი ძლიერი / სუსტი მხარეები, ინეტრესები, ნიჭი
                                                                 </li>
                                                            </ul>
                                                       </p>
                                                       
                                                       <p>
                                                            გაერკვევით:
                                                            <ul>
                                                                 <li>
                                                                      როგორ იმოქმედოთ და  ისაუბროთ ხელფასის მოსამატებლად.
                                                                 </li>
                                                                 <li>
                                                                      როგორ  დაწინაურდეთ.
                                                                 </li>
                                                                 <li>
                                                                      განვითარებისთვის საჭირო  ტრენინგების შერჩევა.
                                                                 </li>
                                                                 <li>
                                                                      როგორ წარმოაჩინოთ სწორად  თქვენი მიღწევები.
                                                                 </li>
                                                                 <li>
                                                                      როგორ მოაგვაროთ კოლეგებთან ან ხელმძღვანელობასთან კონფლიქტური
                                                                      სიტუაციები
                                                                 </li>
                                                                 <li>
                                                                      როგორ მიიღოთ სამუშადან წასვლა - დარჩენის გადაწყვეტილება
                                                                 </li>
                                                                 
                                                            </ul>
                                                       </p>
                                                       <p>
                                                            <ul>
                                                                 მიიღებთ:
                                                                 <li>
                                                                      ექსპერტთან ერთად დამუშავებულ  პასუხებს თქვენს კითხვებზე და
                                                                      პრობლემების გადაჭრის კონკრეტულ გეგმას
                                                                 </li>
                                                            </ul>
                                                       </p>
                                                       <div class="prices">
                                                            <ul>
                                                                 <li>საწყისი კონსულტაცია / საჭიროებების დადგენა – უფასო</li>
                                                                 <li>ერთი სამუშაო შეხვედრის ღირებულება 90 ₾</li>
                                                                 <li>შეხვედრების რაოდენობა შეთანხმება თქვენთან</li>
                                                            </ul>
                                                       </div>
                                                  </div>

                                                  <!--talk preper-->

                                                  <div id="talkpreper" class="dvv">
                                                       <p> 
                                                            
                                                            <ul>
                                                                 <li>
                                                                      ყველაზე რთულ და პროვოკაციულ კითხვებზე პასუხებში ვარჯიში
                                                                 </li>
                                                                 <li>
                                                                      კითხვების გააზრება, რომლებიც ყველაზე ხშირად ისმება და პასუხებზე
                                                                      ვარჯიში.
                                                                 </li>
                                                                 <li>
                                                                      საკუთარი  გამოცდილების და სხვა ძლიერი მხარეების სწორად წარმოჩენის
                                                                      უნარის გამომუშავება
                                                                 </li>
                                                                 <li>
                                                                      თქვენი ძლიერი და სუსტი მხარეების აუდიტი (კომპეტენციის შეფასება)
                                                                      დამუშავება.
                                                                 </li>
                                                                 <li>
                                                                      შიშებისა და მცდარი შეხედულებების  დამუშავება
                                                                 </li>
                                                            </ul>
                                                       </p>
                                                       
                                                       <p>
                                                            შედეგად  მიიღებთ:
                                                            <ul>
                                                                 <li>
                                                                      საკუთარი ძლიერი და სუსტი მხარეების „გაყიდვის“ ცოდნას
                                                                 </li>
                                                                 <li>
                                                                      საკუთარი თავსა და კომპეტენციაში თავდაჯერებულობას
                                                                 </li>
                                                                 <li>
                                                                      სავარჯიშო გასაუბრებას
                                                                 </li>
                                                                 <li>
                                                                      HR-სპეციალისტების მიერ ყველაზე ხშირად დასმული კითხვების
                                                                      შინაარსის გაგება და მზა პასუხებს
                                                                 </li>
                                                                 
                                                                 
                                                            </ul>
                                                       </p>
                                                      
                                                       <div class="prices">
                                                            <ul>
                                                                 <li>საწყისი კონსულტაცია / საჭიროებების დადგენა – უფასო</li>
                                                                 <li>ერთი სამუშაო შეხვედრის ღირებულება საწყისი პოზიციისთვის 90 ₾</li>
                                                                 <li>ერთი სამუშაო შეხვედრის ღირებულება მაღალი პოზიციისთვის 110 ₾</li>
                                                                 <li>შეხვედრების რაოდენობა შეთანხმება თქვენთან</li>
                                                            </ul>
                                                       </div>
                                                  </div>
                                                  <!--writcv-->

                                                  <div id="writcv" class="dvv">
                                                       <p> 
                                                            CV და თანმხლები წერილის შედგენა
                                                            <ul>
                                                                 <li>
                                                                      სამოტივაციო წერილის შექმნა, რომელიც გაზრდის ინტერესს თქვენი  cv -ს
                                                                      მიმართ და გაზრდის გასაუბრებაზე  მიწვევის შესაძლებლობას.
                                                                 </li>
                                                                 <li>
                                                                      CV -ს ყველა ბლოკის სტრუქტურირება (მიღწევები, ძირითადი
                                                                      კომპეტენციები და უნარები, სამუშაო გამოცდილება, ინფორმაცია
                                                                      საკუთარი თავის შესახებ)
                                                                 </li>
                                                                 <li>
                                                                      თქვენი გამოცდილებისა და უნარების შესახებ სწორი ფორმულირებებისა
                                                                      და ძლიერი, გაყიდვადი ტექსტის შექმნა
                                                                 </li>
                                                                 <li>
                                                                      თქვენი და თქვენი cv -ს ძლიერი და სუსტი მხარეების აუდიტი
                                                                 </li>
                                                            
                                                            </ul>
                                                       </p>
                                                       
                                                       <p>
                                                            შედეგად  მიიღებთ:
                                                            <ul>
                                                                 <li>
                                                                      პრაქტიკულ ცოდნას როგორ მოარგოთ თქვენი CV სხვადასხვა ვაკანსიას.
                                                                 </li>
                                                                 <li>
                                                                      შაბლონს - სარეკომენდაციო წერილის სწორად შედგენისთვის
                                                                 </li>
                                                                 <li>
                                                                      ძლიერ, ყურადღების მიმქცევ სამოტივაციო წერილს
                                                                 </li>
                                                                 <li>
                                                                      ხარისხიან „გაყიდვად“ CV -ს
                                                                 </li>
                                                                 
                                                                 
                                                            </ul>
                                                       </p>
                                                      
                                                       <div class="prices">
                                                            <ul>
                                                                 <li>საწყისი კონსულტაცია / საჭიროებების დადგენა – უფასო</li>
                                                                 <li>ერთი სამუშაო შეხვედრის ღირებულება 70 ₾</li>
                                                                 <li>შეხვედრების რაოდენობა შეთანხმება თქვენთან</li>
                                                            </ul>
                                                       </div>
                                                  </div>

                                                  <!--plain2-->

                                                  <div id="plain2" class="dvv">
                                                       <p> 
                                                            სკოლა, პროფესიული განათლება, უმაღლესი სასწავლებელი და
                                                            სამსახურეობრივი სწავლა ზრდასრულებისთვის და მოზარდებისთვის
                                                            <ul>
                                                                 <li>
                                                                      სწავლის პროცესის შედეგიანობისთვის საჭირო გეგმის შექმნა და
                                                                      ინსტრუმენტების შერჩევა – გავარჯიშება;
                                                                 </li>
                                                                 <li>
                                                                      თქვენი სასწავლო მიზნების განსაზღვრა;
                                                                 </li>
                                                                 <li>
                                                                      სწავლის, თქვენთვის დამახასიათებელი უნარ – ჩვევების, ძლიერი და
                                                                      სუსუტი მხარეების აუდიტი;
                                                                 </li>
                                                           
                                                            
                                                            </ul>
                                                       </p>
                                                       
                                                       <p>
                                                            შედეგად გეცოდინებათ:
                                                            <ul>
                                                                 <li>
                                                                      რა გიშლით ხელს შედეგიან სწავლაში და მუშაობაში და როგორ
                                                                      გამოიყენოთ ის თქვენთვის სასარგებლოდ.
                                                                 </li>
                                                                 <li>
                                                                      როგორი მეთოდებით მიუდგეთ სხვადასხვა სახის მასალას;
                                                                 </li>
                                                                 <li>
                                                                      რა სტრატეგიები და ტაქტიკა არსებობს თქვენს სასწავლო მიზანთან
                                                                      მიმართებაში და მათი გამოყენების გზები;
                                                                 </li>
                                                                 <li>
                                                                      როგორ დაგეგმოთ და მართოთ სწავლის პროცესი, რომ იყოს სასიამოვნო
                                                                      და შედეგიანი, არ იწვევდეს სტრესს და შფოთვას;
                                                                 </li>
                                                                 
                                                                 
                                                            </ul>
                                                       </p>
                                                      
                                                       <div class="prices">
                                                            <ul>
                                                                 <li>საწყისი კონსულტაცია / საჭიროებების დადგენა – უფასო</li>
                                                                 <li>ერთი სამუშაო შეხვედრის ღირებულება 70 ₾</li>
                                                                 <li>შეხვედრების რაოდენობა შეთანხმება თქვენთან</li>
                                                            </ul>
                                                       </div>
                                                  </div>




                                             </div>
                                             </div>
                                          </div>
                                        </div>
                                        <!--kari winsvl  -->


                                        <div class="accordion-item">
                                             <h2 class="accordion-header" id="flush-headingOne">
                                               <a style="font-size:20px ;" class="btn btn-default collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-2" aria-expanded="false" aria-controls="flush-collapseOne">
                                                  წარმატებული ურთიერთობები
                                               </a>
                                             </h2>
                                             <div id="flush-2" class="accordion-collapse collapse" aria-labelledby="flush-2" data-bs-parent="#accordionFlushExample">
                                               <div class="accordion-body"> 
                                                  ოჯახის წევრებთან, მეგობრებთან,
                                                  თანამშრომლებთან, უცნობებთან, საზოგადოებასთან ურთერთობა –
                                                  ურთიერთობების მოწესრიგება, გაჯანსაღება და განვითარება; ურთიერთობების
                                                  აუდიტი; წარმატების მისაღწევად კონკრეტული სვლების შემუშავება და გავარჯიშება.
                                                  <div style="width: 11%;height: 3px;margin:0 auto;background:red;margin: 15px 0;"></div>
                                                  <div>
                                                       <h3>ვრცლად</h3>
                                                       <p>
                                                            ურთიერთობებს დიდი გავლენა აქვს, როგორც ჩვენს შინაგანს, ისე საზოგადოებრივ
                                                            კეთიდღეობაზე. ზოგადად ყველაზე ხშირი და ღრმა პრობლემები
                                                            ურთიერთობებში, ახლობელ ადამიანებთან (ოჯახის წევრები, მეგობრები,
                                                            თანამშრომლები) იქმნება და არა უცნობებთან, თუმცა არსებობენ ადამიანები
                                                            ვისაც უცნობებთან ურთიერთობების დარეგულირებაც უჭირს. ურთერთობები
                                                            ძალიან კომპლექსური სფეროა და აქ წარმატება ჩვენს გონებრივ და ფსიქიკურ (
                                                            აღქმები, დამოკიდებულებები, ღირბულებები, მსჯელობის უნარი, ემოციური
                                                            ინტელექტი და სხვა ) სიჯანსაღეზეა დამოკიდებული.
                                                       </p>
                                                       <p>     
                                                            ამ საკითხებზე მუშაობისას ვიყენებთ, როგორც აკადემიურ მეთოდებს ისე სხვადასხვა კულტურაში არსებულ
                                                            მიდგომებს. ვადგენთ თქვენს საჭიროებებს, ვაკეთებთ თქვენი ურთიერთობების
                                                            აუდიტს, ვქმნით სამუშაო გეგმას. ვიყენებთ როლურ თამაშებს და სხვა
                                                            მეთოდებს, რომ განივითაროთ ის კონკრეტული უნარები, ცოდნა და
                                                            შეხედულებები, რომლებიც გამოგადგებათ რეალურ ცხოვრებისეულ სიტუაციაში. ჩვენი მიზანია
                                                            წამატებას მიაღწიოთ არა მხოლოდ იმ საკითხში რომლითაც მოგვმართავთ,
                                                            არამედ მაქსიმალურად ღრმად ჩაწვდეთ ჩვენი მიდგომების და ინსტრუმენტების
                                                            არსს, რომ შემდეგში დამოუკიდებლად შეძლოთ მათი გამოყენება სხვა სიტუაციაში.
                                                       </p>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                                   <!-- 3 -->
                                   <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingOne">
                                          <a style="font-size:20px ;" class="btn btn-default collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-3" aria-expanded="false" aria-controls="flush-collapseOne">
                                             წარმატებული ორგანიზაცია
                                          </a>
                                        </h2>
                                        <div id="flush-3" class="accordion-collapse collapse" aria-labelledby="flush-3" data-bs-parent="#accordionFlushExample">
                                          <div class="accordion-body" style="text-transform: capitalize;"> 
                                             ჩვენს ვმუშაობთ რბილი უნარების ( soft skills ) განავითარებაზე – უნარების, რომელიც ცხოვრების
                                             სხვადასხვა სფეროში, სხვადასხვა სიტუაციაში გვჭირდება და ადამიანის,
                                             ორგანიზაციის წარმატებისთვის აუცილებელი პირობაა.
                                             <div style="width: 11%;height: 3px;margin:0 auto;background:red;margin: 15px 0;"></div>
                                             <div>
                                                  <h3>ვრცლად</h3>
                                                  <p>
                                                       
                                                       ჩვენი მომსახურებების ჭრილში – ორგანიზაცია არის ორი ან მეტი ადამიანის
                                                       გაერთიანება კონკრეტული, გაცნობიერებული ან გაუცნობიერებელი მიზნით:
                                                       ოჯახი, სამეგობრო, კერძო კომპანია, სახელმწიფო დაწესებულება და სხვა – ამ
                                                       ორგანიზაციებს გააჩნიათ განსხვავებული მიზნები და ფორმა, მაგრამ ყველგან
                                                       ერთი და იგივე კანონზომიერება მოქმედებს და იმისთვის, რომ ეს კანონზომიერება ორგანიზაციის
                                                       წარმატებისთვის გამოვიყენოთ, საჭიროა გვქონდეს განვითარებული 
                                                       რბილი უნარები ( soft skills ):
                                                       <ul>
                                                            <li><a href="#lead">ლიდერობა</a></li>
                                                            <li><a href="#learn">სწავლა/სწავლების ტექნიკა</a></li>
                                                            <li><a href="#feedback">უკუკავშირის მიწოდება (კომუნიკაცია)</a></li>
                                                            <li><a href="#minds">შემოქმედებითი (კრეატიული) და აზროვნების სხვა სახეები</a></li>
                                                       </ul>

                                                       <div class="descrip">
                                                            <div id="lead" class="dvv">
                                                                 <p>
                                                                      <span style="color: green;">ლიდერობა</span> - რთული და მნიშვნელოვანი მოვლენაა. ლიდერისთვის დამახასიათებელი
                                                                      თვისებები ადამიანს, შეიძლება ჰქონდეს თანდაყოლილი და ასევე შეიძლება შეიძინოს. ის
                                                                      განვითარებადია და მნიშვნელოვნად არის დაკავშირებული ადამიანის
                                                                      სურვილთან და შინაგან რწმენასთან, რომ გაიუმჯობესოს უნარები, ცოდნა და
                                                                      დამოკიდებულებები, რომელებიც ჯამში ქმნის ლიდერს, ლიდერობას. დღეს,
                                                                      კორპორაციულ სამყაროში, ყველაზე მოთხოვნადი ტრენინგია ლიდერობა,
                                                                      რადგან ლიდერი ძალიან დიდ გავლენას ახდენს მიმდევრების სამსახურეობრივ
                                                                      შედეგებზე და მათ სამსახურს გარეთ ცხოვრებაზე.
                                                                 </p>
                                                                 <p>
                                                                      მიმდევრობა – ეს არის ლიდერობის განუყოფელი ნაწილი. ლიდერს ღრმა გაგება
                                                                      უნდა გააჩნდეს მიმდევრობის, როგორც მოვლენის, ასევე უშუალოდ იმ
                                                                      ადამიანების, რომლებიც მისი მიმდევრები არიან. ნებისმიერი ადამიანი სხვადასხვა
                                                                      სიტუაციაში ცვლის როლებს და შესაძლოა დღის განმავლობაში ის იყოს როგორც
                                                                      ლიდერი და ასევე მიმდევარი.
                                                                 </p>
                                                                 <p>
                                                                      <h3>მომსახურება</h3>
                                                                      <ul>
                                                                           <li>სასწავლო ღონისძიების ტიპი: „ონლაინ“ / „ოფლაინ“</li>
                                                                           <li>დრო: 4 საათი ( ორ ნაწილად )</li>
                                                                           <li>ენა: ქართული</li>
                                                                      </ul>
                                                                 </p>
                                                            </div>

                                                            <div id="learn" class="dvv">
                                                                 <p>
                                                                      <span style="color: green;"> - სწავლა/სწავლების ტექნიკა </span> 
                                                                      ცხოვრების ნებისმიერ ეტაპზე, ნებისმიერი ჩვენგანი, მიუხედავად ასაკისა,
                                                                      საქმიანობის ტიპისა, სოციალური სტატუსისა - მუდმივად ვსწავლობთ და
                                                                      ვასწავლით. ეს არის უნარი, რომელიც განსაკუთრებულ როლს თამაშობს
                                                                      ნებისმიერი მიმართულების წარმატებაში ( პიროვნული, ოჯახური, კარიერული,
                                                                      ფინანსური, ფიზიკური, სულიერი და სხვა), რადგან სწავლა არის ინფორმაციის მიღების,
                                                                      დამუშავების და გამოყენების პროცესი. 
                                                                 </p>
                                                                 <p>
                                                                      ეს არის განვითარებადი უანარი. სწავლა/სწავლების ტექნიკას აქტიურად იყენებენ
                                                                      კერძო და სახელმწიფო ორგანიზაციები, საზოგადოებრივი გაერთიანებები
                                                                      ოჯახები, სასწავლო დაწესებულებები, სტუდენტები, მოსწავლეები.
                                                                      
                                                                 </p>
                                                                 <p>
                                                                      <h3>მომსახურება</h3>
                                                                      <ul>
                                                                           <li>სასწავლო ღონისძიების ტიპი: „ონლაინ“ / „ოფლაინ“</li>
                                                                           <li>დრო: 4 საათი ( ორ ნაწილად )</li>
                                                                           <li>ენა: ქართული</li>
                                                                      </ul>
                                                                 </p>
                                                            </div>

                                                            <div id="feedback" class="dvv">
                                                                 <p>
                                                                      <span style="color: green;">უკუკავშირის მიწოდება (feedback) - </span>
                                                                      უკუკავშირი არის წარსული მოქმედების შესახებ ინფორმაცია – მიწოდებული 
                                                                      აწმყოში – მოქმედებების სამომავლოდ გასაუმჯობესებლად.
                                                                      ჩვენს საქმიან და პირად ცხოვრებაში, ძალიან ხშირად ვუფიქსირებთ ჩვენს
                                                                      რეაქციას ახლობელ ადამიანებს და უცნობებს, მათ მოქმედებებზე რომლებსაც
                                                                      ჩვენს მიმართ ახორციელებენ, თუმცა ძალიან ხშირად უკუკავშირის მიწოდება
                                                                      უფრო პრობლემებს ქმნის, ვიდრე ურთიერთობების
                                                                      გაუმჯობესებას ემსახურება. საბედნიეროდ არსებობს ინსტრუმენტები,
                                                                      მიდგომები, რომლებიც გვეხმარება გავაუმჯობესოთ უკუკავშირის მიწოდება და
                                                                      ამით გავაჯანსაღოთ ოჯახური, სამეგობრო, უცნობებთან, საქმიანი,
                                                                      მომხმარებელთან ურთიერთობები.
                                                                 </p>
                                                                 <p>
                                                                      <h3>მომსახურება</h3>
                                                                      <ul>
                                                                           <li>სასწავლო ღონისძიების ტიპი: „ონლაინ“ / „ოფლაინ“</li>
                                                                           <li>დრო: 4 საათი ( ორ ნაწილად )</li>
                                                                           <li>ენა: ქართული</li>
                                                                      </ul>
                                                                 </p>
                                                            </div>

                                                            <div id="minds" class="dvv">
                                                                 <p>
                                                                      <span style="color: green;">შემოქმედებითი აზროვნება, შემოქმედებითობა ( creativity )</span> - გულისხმობს
                                                                      პრობლემის დანახვის და მისი გადაჭრის მრავალფეროვანი გზების აღმოჩენის,
                                                                      იდეების გენერირების, ინოვაციურობის უნარს, ჩარჩოებს მიღმა აზროვნებას. ეს
                                                                      არის თანდაყოლილი და განვითარებადი უნარი, რომელიც უკლებლივ ყველა
                                                                      ადამიანში არებობს, მაგრამ გარემო ფაქტორების გამო ქვეითდება. უვითარებენ
                                                                      თანაშრომლებს ყველაზე წარმატებულ ორგანიზაციებში მათ შორის „ნასაში.“ ეს
                                                                      არის აზროვნების ტიპი, რომელიც თანამედროვე უნარებში შედის - დღევანდელი
                                                                      მოცემულობით მის ჩანაცვლებას ხელოვნური ინტელექტი ვერ შეძლებს. <br>
                                                                      <span style="color: green;">კრიტიკული აზროვნება ( critical thinking ) - </span> მიღებული ინფორმაციის
                                                                      დამუშავების, გაანალიზების, შეფასების და გამოყენების უნარი (განვითარებადი უნარია), რომელიც
                                                                      გულისხმობს ინფორმაციის სხვადასხვა ფილტრში გატარებას.
                                                                      
                                                                      <span style="color: green;">ზრდაზე ორიენტირებული აზროვნება (growth mindset) - </span> როდესაც ჩვენ
                                                                      საკუთარ შესაძლებლობებს, უნარებს, ცოდნას აღიქვამთ მოცემულობად, რომლის
                                                                      განვითარება შესაძლებელია. მაგ.: ადამიანი, რომელიც თვლის, რომ არ აქვს
                                                                      ლიდერობის უნარი განვითარებული, მაგრამ შესაძლებელია, რომ განივითაროს, ლიდერობის საკითხში გააჩნია ზრდაზე ორიენტირებული აზროვნება. <br>
                                                                      <span style="color: green;">ფიქსირებული აზროვნება ( fixed mindset ) - </span> როდესაც ადამიანი საკუთარ
                                                                      შესაძლებლობებს, უნარებს, ცოდნას აღიქვამს ფიქსირებულ მოცემულობად,
                                                                      რომლის შეცვლა არ არის შესაძლებელი. მაგ.: ლიდერობა არ გამოსდის და თვლის,
                                                                      რომ ვერ განავითარებს, რადგან ამ უნარით არ დაბადებულა, თუმცა მათემატიკის
                                                                      თანდაყოლილი ნიჭი აქვს და კარგად გამოსდის.
                                                                 </p>
                                                                 <p>
                                                                      აზროვნების ეს ტიპები სხვადასხვა დოზით ყველა ადამიანშია და იცვლება
                                                                      სხვადასხვა საკითხთან მიმართებაში. თუმცა კვლევების მიხედვით, როდესაც
                                                                      ადამიანებს აუხსნენს აზროვნების ამ ტიპების არსებობის შესახებ, მათ შეძლეს
                                                                      ფიქსირებულიდან ზრდაზე ორიენტირებულ აზროვნებაზე გადასვლა და
                                                                      სხვადასხვა უნარების, შესაძლებლობების, ცოდნის განვითარება; სამუშაო და
                                                                      სხვა ტიპის შედეგების გაზრდა.
                                                                 </p>
                                                                 <p>
                                                                      <h3>მომსახურება</h3>
                                                                      <ul>
                                                                           <li>სასწავლო ღონისძიების ტიპი: „ონლაინ“ / „ოფლაინ“</li>
                                                                           <li>დრო: 4 საათი ( ორ ნაწილად )</li>
                                                                           <li>ენა: ქართული</li>
                                                                      </ul>
                                                                 </p>
                                                            </div>
                                                       </div>
                                                      
                                                  </p>
                                             </div>
                                        </div>
                                   </div>
                                   
                              </div>



                                   
                                   <div style="border-left: 3px solid red ;padding-left:15px;border-radius:5px;margin: 6% 0;">
                                        <p>
                                             ვმუშაობთ, როგორც ინდივიდებთან, ასევე ჯგუფებთან – სახელმწიფო და კერძო
                                             კომპანიებთან, სხვადასხვა ტიპის საზოგადოებრივ გაერთიანებებთან.
                                        </p>
                                        <p>     
                                             ჩვენ ზუსტად ვიცით, რომ თითოეული ადამიანი უნიკალური შესაძლებლობების
                                             მატარებელია და წარმატების გასაღები ჩვენშივეა; ამიტომ მუშაობისას,
                                             ვცდილობთ გამოვიყენოთ მეთოდები, რომლებიც მაქსიმალურად
                                             გაააქტურებს თქვენს შინაგან რესურსს, რომ დამოუკიდებლად შეძლოთ,
                                             შემდგომში წარმოქმნილი პრობლემების გადაჭრა.
                                        </p>
                                   </div>
                                  
                              </p>
                              <a href="/about" class="btn btn-default">ვრცლად</a>
                              <p class="btn btn-default" style="margin-left: 1rem" id="reservation_btn"> შეხვედრის დაჯავშნა</p>
                         </div>
                    </div>
               </div> 
         </div>
     </div>

     <div id="reservation" class="reserv_modal">

          <!-- Modal content -->
          <div class="reserv_content">
            <span class="close">&times;</span>
            <h3>შეხვედრის დაჯავშნა, # <span class="id"></span></h3>

     
     
               <div style="margin-top: 1rem">
                    <form action="/reser" method="post">
                         <div class="reser">
                              <input type="text" class="form-control" name="reser_id" id="reser_id" readonly>
                         </div>
                         <div class="reser">
                              <input type="text" class="form-control" name="fullname" id="fullname" placeholder="სახელი და გვარი" required>
                         </div>
                         <div class="reser">
                              <input type="email" class="form-control" name="email" id="email" placeholder="ელ-ფოსტა" required>
                         </div>
                         <div class="reser">
                              <input type="number" class="form-control" name="mobile" id="mobile" placeholder="ტელეფონის ნომერი" required>
                         </div>
                         <div class="reser">
                              <input type="time" class="form-contro" name="reserdate" id="reserdate" required>
                         </div>
                         <div class="reser">
                              <input type="date" class="form-control" name="reserdate1" id="reserdate1" required>
                         </div>
                         <div class="reser" id="fr" style="display: none;">
                              <input type="text" class="form-control" name="price" id="price" readonly>
                         </div>
                         <div class="reser">
                              <select class="tmethods" onchange="sel()">
                                   <option value="x">მიზანი</option>
                                   <option value="talk">გასაუბრება</option>
                                   <option value="cv">CV - ის გაკეთება</option>
                                   <option value="carer">კარიერული რჩევა</option>
                              </select>
                         </div>
                         <div class="reser" id="bt" style="display: none;">
                              <button type="submit" class="btn btn-default">დაჯავშნა</button>
                         </div>
                    </form>
               </div>
     
        
     </div>

</section>

<script>

// reservetion kode generator

function dspl() {
    document.querySelector('#bt').style.display = "block"     
}
function sel() {
     let tm = document.querySelector(".tmethods")
     
     if (tm.value == "talk") {
         
          txt = `უფასო / free`
          dspl()
     }
     else if (tm.value == "cv") {
          txt = `ფასი / price 50 ₾`
          dspl()
     }
    
     else if (tm.value == "carer") {

          txt = `ფასი 100 ₾`
          dspl()
     }
    
     else {
          document.querySelector("#bt").style.display = "none"
          txt = `შენ არ გაქვს არც ერთი ფუნქტი არჩეული`


     }
     document.querySelector("#price").value = txt
     document.querySelector("#fr").style.display = "block"
}

function gen() {
    return Math.floor(Math.random() * 1000000) + 1 ;
}
x = gen()
document.querySelector(".id").innerHTML = x
document.querySelector("#reser_id").value = x

// Get the modal
var modal = document.getElementById("reservation");

// Get the button that opens the modal
var btn = document.getElementById("reservation_btn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>