
<!-- Home Section -->

<section id="home" class="main-home parallax-section">
     <div class="overlay"></div>
     <div id="particles-js"></div>
     <div class="container">
          <div class="row">

               <div class="col-md-12 col-sm-12 rioncontrast">
                    <h4>მოგესალმებით,</h4>
                    <h2>აპპოლო - წარმატების სივრცე</h2>
                    <a href="/blogs" class="smoothScroll btn btn-default">მეტი</a>
               </div>

          </div>
     </div>
</section>

<!-- Blog Section -->

<section id="blog">
     <div class="container">
          <div class="row">
               <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <div class="blog-post-thumb">
                         <!-- <div class="blog-post-image">
                              <a href="single-post.html">
                                   <img src="https://images.unsplash.com/photo-1603350546952-3ddb8d5f29ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="img-responsive" alt="Blog Image">
                              </a>
                         </div> -->
                         <div class="blog-post-title web01font">
                              <h3>დაგეხმარები, რომ მიაღწიო წარმატებას კარიერაში</h3>
                         </div>
                         <!-- <div class="blog-post-format">
                              <span><a href="#"><img src="images/author-image1.jpg" class="img-responsive img-circle"> Jen Lopez</a></span>
                              <span><i class="fa fa-date"></i> July 22, 2017</span>
                              <span><a href="#"><i class="fa fa-comment-o"></i> 35 Comments</a></span>
                         </div> -->
                         <div class="blog-post-des ninomk" style="font-size: 20px;">
                              <p>
                                   ვისთვის არის აპპოლო – კარიერული მრჩეველი? ვისაც სურვილი გაქვთ იპოვოთ თქვენი საყვარელი საქმე და გადააქციოთ ის შემოსავლის წყაროდ.
                                   მშობლებისთვის, ვისაც სურვილი გაქვთ დაეხმაროთ შვილებს წარმატებული პროფესიული არჩევანის გაკეთებაში.
                                   მოსწავლეებისთვის, სტუდენტებისთვის, სამუშაო გამოცდილების არ მქონეებისთვის ვისაც სურვილი გაქვთ გაერკვეთ
                                   რომელი მიმართულება უნდა შეისწავლოთ ან გააღრმავოთ, სად დაიწყოთ მუშაობა და როგორ.
                                   ვისაც არ გაკმაყოფილებთ მიმიდნარე სამსახური ემოციურად, ფინანსურად, ურთიერთობების კუთხით, თავისუფალი დროის
                                   არ ქონის გამო და სხვა მიზეზით.
                                   წარმატებული პროფესიონალებითვის ვინც საჭიროებას ხედავთ, რომ მეტად უნდა განვითარდეთ კარიერული კუთხით,
                                   მაგრამ გადამოწმებული, ზუსტი გეგმა ჯერ არ გაგაჩნიათ.
                                   კომპანიების დამფუძნებლებისა და ხელმძღვანელებისთვის ვისაც მისწრაფება გაქვთ განავითაროთ თანამშრომლები, უკეთ 
                                   გაარკვიოთ თავიანთ კარიერულ გზაში და ამით გაზარდოთ მათი ერთგულება კომპანიის მიმართ, პროდუქტიულობა, მოტივაცია 
                                   და ამ ყველაფრით გააძლიეროთ თქვენი კომპანია. რა გამოგვარჩევს? გულისხმიერად ვსწავლობთ თქვენს საჭიროებებს და მათ 
                                   დასაკმაყოფილებლად ვიყენებთ, როგორც მეცნიერულ მიდგომებს ( ორგანიზაციის ფსიქოლოგია, ქოუჩინგი, ტესტები და სხვა ), 
                                   ასევე სხვადასხვა კულტურაში არსებულ მეთოდებს. მუდმივად ვეძებთ და ვნერგავთ სიახლეებს. ჩვენ ვიცით, რომ წარატების 
                                   გასაღები ადამიანშივეა და ვცდილობთ ამ გასაღებების პოვნაში დაგეხმაროთ. ჩვენი საყვარელ საქმე, გადავაქციეთ შემოსავლის
                                   წყაროდ და ძალიან დიდი სიყვარულით ვეკიდებით ამას. რა შედეგის მიღწევა გვინდა?
                                   ჩვენი დიდი და ამბიციური მიზანია ( მისია): საქართველოს ყველა მოქალაქეს გაგიღვივოთ რწმენა, რომ ნებისმიერ თქენგანს შეგიძლიათ განსაზღვროს 
                                   და იპოვოს საყვარელი საქმე, რომელიც მორგებული იქნება პირადად თქვენს ინტრესებზე, მისწრაფებებზე,
                                    ძლიერ/სუსტ მხარეებზე, გამოცდილებაზე, ცოდნაზე, ღირებულებებზე, რომ შეგიძლიათ გადააქციოთ ის შემოსავლის წყაროდ.
                              </p>
                              <a href="single-post.html" class="btn btn-default">ბლოგები</a>
                              <p class="btn btn-default" style="margin-left: 1rem" id="reservation_btn"> შეხვედრის დაჯავშნა</p>
                         </div>
                    </div>
               </div> 
         </div>
     </div>

     <div id="reservation" class="reserv_modal">

          <!-- Modal content -->
          <div class="reserv_content">
            <span class="close">&times;</span>
            <h3>შეხვედრის დაჯავშნა, # <span class="id"></span></h3>

     
     
               <div style="margin-top: 1rem">
                    <form >
                         <div class="reser">
                              <input type="text" class="form-control" name="reser_id" id="reser_id" readonly>
                         </div>
                         <div class="reser">
                              <input type="text" class="form-control" name="name" id="fullname" placeholder="სახელი და გვარი" required>
                         </div>
                         <div class="reser">
                              <input type="email" class="form-control" name="email" id="email" placeholder="ელ-ფოსტა" required>
                         </div>
                         <div class="reser">
                              <input type="number" class="form-control" name="mobile" id="mobile" placeholder="ტელეფონის ნომერი" required>
                         </div>
                        
                         <div class="price"></div>
                         <div class="reser">
                              <select id="tmethods" onchange="sel()">
                                   <option value="x">მიზანი</option>
                                   <option value="talk">გასაუბრება</option>
                                   <option value="cv">CV - ის გაკეთება</option>
                                   <option value="audi">კარიერული რჩევა</option>
                              </select>
                         </div>
                         <div class="reser">
                              <p class="btn btn-default" onclick="x()">დაჯავშნა</p>
                         </div>
                    </form>
               </div>
     
        
     </div>

</section>

<script>

// reservetion kode generator
function x() {

     let id = document.querySelector("#reser_id").value
     let fm = document.querySelector("#fullname").value
     let email = document.querySelector("#email").value
     let mob = document.querySelector("#mobile").value
     
}
function sel() {
     let tm = document.querySelector("#tmethods").value
     
     if (tm.value = "talk") {
          txt = `
          <div class="reser">
               <input type="number" class="form-control" name="price" id="price" placeholder="ufaso" readonly>
          </div> 
          `
         
     }
     if (tm.value = "cv") {
          txt = `

          <div class="reser">
               <input type="number" class="form-control" name="price" id="price" placeholder="fasi 60 ₾" readonly>
          </div>
          


          `
     }
    
     else {
          alert("inok")
     }
     document.querySelector(".price").innerHTML = txt
}

function gen() {
    return Math.floor(Math.random() * 1000000) + 1 ;
}
x = gen()
document.querySelector(".id").innerHTML = x
document.querySelector("#reser_id").value = x

// Get the modal
var modal = document.getElementById("reservation");

// Get the button that opens the modal
var btn = document.getElementById("reservation_btn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>